/* .container {
  background-image: ;
} */

.back {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}

.link {
  font-size: medium;
  font-weight: bold;
  text-decoration: none !important;
  padding-left: 6px;
  padding-top: 2px;
}

.example-full-width {
  display: flex;
  justify-content: center;
}

.button-rating {
  max-height: 45px;
  margin-left: 2%;
}

.input-rating {
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.loading-movies {
  display: flex;
  justify-content: center;
  
}

.example-card-details {
  max-width: 500px;
  background: rgb(241, 241, 241);
}

.mat-card-content {
  padding-top: 2%;
  font-size: medium;
}

.detail-direction {
  padding-left: 2%;
}

.detail-direction > div {
  padding: 2%;
}

.movie-langluage {
  padding-left: 5%;
}

.movie-image-url {
  padding-top: 5%;
  padding-left: 27%;
}

/* .mat-divider {
  background-color: rgb(112, 109, 109);
} */
