<div class="container">
  <!-- <div class="back">
    <a routerLink="/"></a>
    <mat-icon>keyboard_backspace</mat-icon>
    <a routerLink="/" class="link">Go Back</a>
  </div> -->
  <div class="input-rating">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label class="mat-label">Add a rating</mat-label>
      <input
        class="input-rating"
        type="number"
        [formControl]="rating"
        matInput
        placeholder="Add a rating"
      />
      <mat-error *ngIf="rating.hasError('required')"
        >Rating is required.</mat-error
      >
      <mat-error *ngIf="rating.hasError('min') || rating.hasError('max')"
        >The value is expected to be between 0.5 and 10.0</mat-error
      >
    </mat-form-field>
    <button
      class="button-rating"
      mat-raised-button
      color="primary"
      (click)="onSubmit($event)"
    >
      Add rating
    </button>
  </div>
  <div class="image-and-card">
    <img
      [src]="movieImageUrl"
      width="400px"
      height="550px"
      class="movie-image-url"
    />

    <div *ngIf="loading"><mat-spinner></mat-spinner></div>
    <div *ngIf="!loading && movie != null" class="loading-movies">
      <mat-card class="example-card-details">
        <mat-card-header>
          <mat-card-title>{{ movie.title }}</mat-card-title>
        </mat-card-header>
        <mat-divider class="mat-divider"></mat-divider>
        <mat-card-content class="mat-card-content">
          <div class="detail-direction">
            <div>Overview: {{ movie.overview }}</div>
            <mat-divider class="mat-divider"></mat-divider>
            <div>Poster Path: {{ movie.poster_path }}</div>
            <mat-divider class="mat-divider"></mat-divider>
            <div>Budget: {{ movie.budget }}</div>
            <mat-divider class="mat-divider"></mat-divider>
            <div>Release Date: {{ movie.release_date }}</div>
            <mat-divider class="mat-divider"></mat-divider>
            <div>Revenue: {{ movie.revenue }}</div>
            <mat-divider class="mat-divider"></mat-divider>
            <div>Vote Average: {{ movie.vote_average }}</div>
            <mat-divider class="mat-divider"></mat-divider>
            <div>Vote Count: {{ movie.vote_count }}</div>
            <mat-divider class="mat-divider"></mat-divider>
            <div>
              Languages:
              <div
                *ngFor="let lang of movie.spoken_languages"
                class="movie-langluage"
              >
                - {{ lang.name }}
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
