.search-container {
  padding-top: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  width: 30%;
}

.search-form > div > button {
  margin-left: 10%;
  margin-top: 10%;
}

.example-form {
  min-width: 150px;
  max-width: 200px;
}

.example-full-width {
  width: 100%;
}

.bor {
  border: 1px solid black;
}

.example-card {
  max-width: 200px;
}

.example-header-image {
  background-size: cover;
}

.vote-average-button {
  background-color: rgb(230, 230, 7);
}

.loading-spinner {
  display: flex;
  justify-content: center;
}

img {
  width: 200px;
  height: 320px;
}
